.primero{
    color: aqua;
}

.segundo{
    color: aquamarine;
}

.tercero{
    color: blue;
}

.cuarto{
    color: peru
}

.quinto{
    color: blueviolet;
}

.sexto{
    color: brown;
}